@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wobbly-md {
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  }
  .wobbly-lg {
    border-radius: 15px 225px 15px 255px / 255px 15px 225px 15px;
  }
}

@layer base {
  body {
    font-family: 'Patrick Hand', cursive;
    background-color: #fdfbf7;
    background-image: 
      linear-gradient(45deg, #e5e0d8 25%, transparent 25%, transparent 75%, #e5e0d8 75%, #e5e0d8),
      linear-gradient(45deg, #e5e0d8 25%, transparent 25%, transparent 75%, #e5e0d8 75%, #e5e0d8);
    background-position: 0 0, 16px 16px;
    background-size: 32px 32px;
    color: #2d2d2d;
  }
}
